body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("image/birth.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    color: #333;
    font-family: 'Arial', Helvetica, sans-serif;
}

.container {
    width: 300px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

label {
    font-size: 16px;
    display: block;
    margin-bottom: 10px;
    color: #555;
}

input {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 15px;
    
}

button {
    padding: 10px;
    cursor: pointer;
    background-color: #3366ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #003366;
    
}

p {
    font-size: 18px;
    margin-top: 20px;
    color: #333;
}